In [0]:
#installing spark and pyspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
#setting up the environment
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [16]:
#creating the spark session
!pip install ipython-autotime

import findspark
findspark.init("spark-2.4.5-bin-hadoop2.7")# SPARK_HOME
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Requirement already satisfied: ipython-autotime in /usr/local/lib/python3.6/dist-packages (0.1)
time: 5.01 s

In [17]:
#enter the path name for the csv file to load into data frame
file_location = input ("Enter path :") 

df = spark.read.format("csv").option("inferSchema", 
           True).option("header",True).load(file_location)
display(df)

Enter path :/31.csv

DataFrame[TS: int, V1: double, V2: double, V3: double, W1: double, W2: double, W3: double]

time: 11.4 s

In [27]:
#showing the rows of dataframe
df.show(10)
%load_ext autotime

+----------+------------------+------------------+------------------+---+---+---+
|        TS|                V1|                V2|                V3| W1| W2| W3|
+----------+------------------+------------------+------------------+---+---+---+
|1481729400|237.81711191370357|241.20453527083424|238.94119540350067|0.0|0.0|0.0|
|1481733000|239.79343212510082| 243.1914987523752| 241.3527892893676|0.0|0.0|0.0|
|1481736600| 236.0276768534611|239.09593328021202|237.00557088243573|0.0|0.0|0.0|
|1481740200| 237.4259109282922|240.61403666722725| 238.0606201257473|0.0|0.0|0.0|
|1481743800|238.80646512729317|241.95944270062472|238.34129290269263|0.0|0.0|0.0|
|1481747400|  239.927194196614| 243.2497288763123|239.86506301535283|0.0|0.0|0.0|
|1481751000|  241.159015334035|  244.195418325712|240.99010529680334|0.0|0.0|0.0|
|1481754600|241.16312179997155| 244.4146906319325| 240.8813908248208|0.0|0.0|0.0|
|1481758200|238.36340750140067|241.36263893684884|238.87586992339575|0.0|0.0|0.0|
|1481761800| 235.7201443472809| 237.6109153402656|236.63476038788158|0.0|0.0|0.0|
+----------+------------------+------------------+------------------+---+---+---+
only showing top 10 rows

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 207 ms

In [19]:
#printing schema of dataframe
df.printSchema()
df.count()
df.describe().show()

root
 |-- TS: integer (nullable = true)
 |-- V1: double (nullable = true)
 |-- V2: double (nullable = true)
 |-- V3: double (nullable = true)
 |-- W1: double (nullable = true)
 |-- W2: double (nullable = true)
 |-- W3: double (nullable = true)

+-------+--------------------+------------------+------------------+------------------+--------------------+------------------+------------------+
|summary|                  TS|                V1|                V2|                V3|                  W1|                W2|                W3|
+-------+--------------------+------------------+------------------+------------------+--------------------+------------------+------------------+
|  count|                7089|              7089|              7089|              7089|                7089|              7089|              7089|
|   mean|1.5008588935251799E9|234.68535519345463|236.73597090883965|236.19159957139215|0.003779625634893965|0.2778347657680948|0.4966731855404814|
| stddev|   9792368.410262927|3.9782708688217867| 4.137449180297595|3.8771409043914056| 0.20472006792974753| 3.502127475725025| 3.946749660958992|
|    min|          1481729400| 213.9780757142889| 220.5823712094641| 221.5654292702852|                 0.0|               0.0|               0.0|
|    max|          1528135200|  247.933436075832|251.37907962798494|248.56357760959176|  17.076914160369338| 66.20284631729137| 72.51434948603215|
+-------+--------------------+------------------+------------------+------------------+--------------------+------------------+------------------+

time: 562 ms

In [20]:
df.select('TS').show()
%load_ext autotime

+----------+
|        TS|
+----------+
|1481729400|
|1481733000|
|1481736600|
|1481740200|
|1481743800|
|1481747400|
|1481751000|
|1481754600|
|1481758200|
|1481761800|
|1481765400|
|1481769000|
|1481772600|
|1481776200|
|1481779800|
|1481783400|
|1481787000|
|1481790600|
|1481794200|
|1481797800|
+----------+
only showing top 20 rows

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 142 ms

In [29]:
#function for converting the date to timestamp
from datetime import datetime
import time
num = input ("Enter Date :") 



date_string = num

# format date
dt = datetime.strptime(date_string, "%Y/%m/%d %H:%M:%S")

print("date_object: ", dt)


x=(time.mktime(dt.timetuple()))
y=int(x)
print("timestamp for the given :")
print(y)

Enter Date :2017/05/02 09:30:00
date_object:  2017-05-02 09:30:00
timestamp for the given :
1493717400
time: 3.15 s

In [30]:
#function for converting the  timestamp to date
import datetime
print("date for given timestamp:")
print(
    datetime.datetime.fromtimestamp(
        int(y)
    ).strftime('%Y-%m-%d %H:%M:%S')
)

date for given timestamp:
2017-05-02 09:30:00
time: 2.48 ms

In [23]:
#displaying the data for a particular date using filter query
df.filter(df.TS==y).show()
%load_ext autotime

+----------+------------------+------------------+-------------+---+---+---+
|        TS|                V1|                V2|           V3| W1| W2| W3|
+----------+------------------+------------------+-------------+---+---+---+
|1493717400|238.76311601914284|240.19130379799998|241.360181536|0.0|0.0|0.0|
+----------+------------------+------------------+-------------+---+---+---+

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 274 ms

In [31]:
#function to find the max power consumption
 maxii=df.agg({'W1': 'max'}).collect()[0][0]
 
df2= df.filter(df.W1==maxii)

t=df2.select('TS').collect()[0][0]
print(t)
print("Max power was consumed on:")
import datetime
print(
    datetime.datetime.fromtimestamp(
        int(t)
    ).strftime('%Y-%m-%d %H:%M:%S')
)

 
%load_ext autotime

1496784600
Max power was consumed on:
2017-06-06 21:30:00
The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 388 ms

In [25]:

 df.agg({'W1': 'min'}).show()
 df.agg({'W2': 'min'}).show()
df.agg({'W3': 'min'}).show()
%load_ext autotime

+-------+
|min(W1)|
+-------+
|    0.0|
+-------+

+-------+
|min(W2)|
+-------+
|    0.0|
+-------+

+-------+
|min(W3)|
+-------+
|    0.0|
+-------+

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 484 ms

In [26]:
#aggregate function to to find average
df.agg({'W1': 'avg'}).show()
df.agg({'V1': 'min'}).show()

+--------------------+
|             avg(W1)|
+--------------------+
|0.003779625634893965|
+--------------------+

+-----------------+
|          min(V1)|
+-----------------+
|213.9780757142889|
+-----------------+

time: 364 ms